<div class="login">
  <h3>Sign Up</h3>
  <form action="/signup" method="post">
    <div id="username">
      <label for="username">Username:</label>
      <input type="text" name="username">
    </div>
    <div id="password">
      <label for="password1">Password:</label>
      <input type="password" name="password1">
    </div>
    <div id="password2">
      <label for="password2">Verify Password:</label>
      <input type="password" name="password2">
    </div>
    <button type="submit">Sign Up</button>
  </form>